<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Sigla</th>
        <th scope="col">Operações</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let category of categories; let i = index">
        <th scope="row">{{category.id}}</th>
        <td>{{category.nome}}</td>
        <td>
          <button [routerLink]="['form',category.id]">Alterar</button> 
          | 
          <button (click)="delete(category.id, i)" >Excluir</button>
        </td>
      </tr>

    </tbody>
  </table>
  <button [routerLink]="['form']">Novo</button>