<table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Sigla</th>
            <th scope="col">Operações</th>
          </tr>
        </thead>
        <tbody>
    
          <tr *ngFor="let produto of produtos; let i = index">
            <th scope="row">{{produto.id}}</th>
            <td>{{produto.nome}}</td>
            <td>{{produto.sigla}}</td>
            <td>
              <button [routerLink]="['form',produto.id]">Alterar</button> 
              | 
              <button (click)="delete(produto.id, i)" >Excluir</button>
            </td>
          </tr>
    
        </tbody>
      </table>
      <button [routerLink]="['form']">Novo</button>